
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>后台管理系统</title>
   
</head>

<frameset id="framesetmain" rows="70,*,25">
    <frame name="top" src="Top" noresize="noresize" frameborder="0" />
    <frameset cols="200,*" noresize="noresize" frameborder="0" marginwidth="0">
        <frame id="Left" name="left" src="Left?typeid=2" />
        <frame id="right" name="right" src="Right" />
    </frameset>
    <frame name="bottom" src="Bottom" noresize="noresize" frameborder="0" />
</frameset>

<body>
    <noframes></noframes>
</body>

</html>
