
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/css/Login/c.css" rel="stylesheet" />
<link href="~/css/Login/manage.css" rel="stylesheet" />
<script src="~/js/jquery-1.7.1.min.js"></script>
<script src="~/js/zDialog.js"></script>
<script src="~/js/zDrag.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>栏目添加</title>
</head>
<body>

    <table width="98%" cellspacing="0" cellpadding="0" border="0" class="blockTable">
        <tr>
            <td width="65%" style="padding: 6px 10px;" class="blockTd">
                <div class="mframe">
                    <table width="95%" cellspacing="0" cellpadding="0" style="border-bottom: #ddd 1px solid;">
                        <tr>
                            <td class="mm">
                                <table id="color_code" runat="server" style="width: 100%; padding-bottom: 5px;">
                                    <tr align="right">
                                        <td align="left">
                                            当前位置：<%= MIC.AdminCommon.ReadCurrentDirectory(MIC.Common.ConvertToInt(MIC.AdminCommon.ColumnTypeID.栏目列表, -1))%> > 新建父级
                                        </td>
                                        <td align="right"></td>
                                    </tr>
                                </table>
                                <div style="padding-bottom: 5px; text-align: center;">
                                    <input type="button" value="保存"  class="btn_gray" id="btnSave1" />

                                    <input type="button" onclick="Dialog.close();" value="关闭" class="btn_gray" />
                                </div>
                                <table class="server" cellpadding="0" cellspacing="1" style="width: 100%;">
                                    <tr style="height: 30px;">
                                        <td style="width: 100px; text-align: right;">
                                            栏目名称：
                                        </td>
                                        <td>
                                            <input type="text" style="width:80%"  class="inputtext" id="type_name" />
                                         
                                            <span class="explain">必填项</span>
                                        </td>
                                    </tr>
                                    <tr style="height: 30px;">
                                        <td style="width: 100px; text-align: right;">
                                            排序：
                                        </td>
                                        <td>
                                            <input type="text" class="inputtext" style="width:80%" id="order_id" />
                                            <span class="explain">必填项，填写大于0的正整数</span>
                                        </td>
                                    </tr>
                                    <tr style="height: 30px;">
                                        <td style="width: 100px; text-align: right;">
                                            打开类型：
                                        </td>
                                        <td>
                                            <select id="target">
                                                <option value="1">当前窗口</option>
                                                <option value="2">新窗口</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr style="height: 30px;">
                                        <td style="width: 100px; text-align: right;">
                                            默认加载链接：
                                        </td>
                                        <td>
                                            <input type="text" class="inputtext" style="width:80%" id="TextBoxDefaultUrl" />
                                            <span class="explain">必填项</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div style="padding: 5px; text-align: center;">
                                                <input type="button" value="保存"  class="btn_gray" id="btnSave2" />
                                                <input type="button" onclick="Dialog.close();" value="关闭" class="btn_gray" />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <script type="text/javascript">      
        $(function () {
            $("#btnSave1,#btnSave2").on("click", function () {
                var type_name = $("#type_name").val();
                var parent_id = 0;
                var description = $("#TextBoxDefaultUrl").val();
                $.ajax({
                    type: "POST",//请求方式
                    data: "type_name=" + type_name + "&parent_id=" + parent_id,//ajax请求传的数据

                    url: '/Menu/ValidateType',//使用@Url.Action找出当前控制器内的ajax方法
                    success: function (res) {//返回参数,对其进行处理
                        if (res == "0") {
                            alert("同一父级下的子级栏目名称不能重复");
                            return false;
                        }
                        else {
                            //插入数据
                            $.ajax({
                                type: "POST",//请求方式
                                data: "type_name=" + type_name + "&parent_id=" + parent_id + "&description=" + description + "",//ajax请求传的数据

                                url: '/Menu/AddType',//使用@Url.Action找出当前控制器内的ajax方法
                                success: function (res) {//返回参数,对其进行处理
                                    alert(res);
                                }
                            });
                        }
                    }
                });
            })
        });
   
    
    </script>
</body>
</html>
