body		{background:#FFF; margin:0px; font:normal 12px arial,ו; scrollbar-face-color: #999999; scrollbar-highlight-color: #999999; scrollbar-shadow-color: #999999; scrollbar-darkshadow-color: #999999; scrollbar-3dlight-color: #999999; scrollbar-arrow-color: #FFFFFF;scrollbar-track-color: #eeeeee;}
table	{ border:0px; }
td		{ font-size:12px ; }
img		{ vertical-align:bottom; border:0px; }
a		{ font-size: 12px ; color:#666666; text-decoration:none; }
a:hover	 { color:red }
a img {border:0}

.menu {clear:both;width:179px;}
.menu .sec_menu { width:179px; background:#eee}
.menu .sec_menu a {clear:both; margin:0px auto; width:179px; padding-left:35px;}
.menuHide {clear:both;width:179px;margin-bottom:4px;}
.menuHide .sec_menu {display:none;}
.menuHide a.menu_title {background-image:url(mtop.jpg);background-position:0 -30px;}
.menuHide a.menu_title:hover {background-position:0 0;}

.sec_menu {}
.sec_menu a {text-indent:20px; line-height:23px;float:left;width:50%; background:url(mc.jpg) no-repeat left top; width:178px; line-height:26px;}
.sec_menu a:hover {background:url(mc2.jpg) no-repeat left top; width:178px; line-height:26px;color:#000;}

a.menu_title {height:28px; line-height:28px; text-indent:30px; color:#fff; display:block; background:#d8c4f6 url(mtop.jpg);}
a.menu_title:hover {background-position:0 -30px;}

.col_sel {padding:3px 5px; text-align:center; display:none;*display:block;}
.col_sel img {height:10px; width:10px; margin:0 4px; font-size:6px; cursor:pointer;display:block;float:left;}
